In [1]:
# Import Libraries and packages
import yfinance as yf
import pandas as pd
import numpy as np

In [2]:
# Import stock portfolio from excel
df = pd.read_excel("Stock_Portfolio.xlsx")
df

  Stock  Purchase_Cost
0  AMZN           3000
1  MSFT           1000
2  Ford            300
3   LNG           4000
4  GOLD           2000
5   NYC           5000

In [3]:
# Calculate stock weight
df["stock_weight"]= round((df['Purchase_Cost']/df["Purchase_Cost"].sum())*100,2)
df

  Stock  Purchase_Cost  stock_weight
0  AMZN           3000         19.61
1  MSFT           1000          6.54
2  Ford            300          1.96
3   LNG           4000         26.14
4  GOLD           2000         13.07
5   NYC           5000         32.68

In [4]:
# Calculate beta for each individual stock
for i in range(len(df)):
    x = df.loc[i, "Stock"]
    ticker = yf.Ticker(x)
    stock_beta = ticker.info["beta"]
    df.at[i, "Beta"]= round(stock_beta,2)
df

  Stock  Purchase_Cost  stock_weight  Beta
0  AMZN           3000         19.61  1.33
1  MSFT           1000          6.54  0.94
2  Ford            300          1.96  0.81
3   LNG           4000         26.14  1.12
4  GOLD           2000         13.07  0.13
5   NYC           5000         32.68  0.52

In [5]:
# find the risk free rate (10 year treasury bill)
treasury_yield10 = yf.Ticker("^TNX") 
risk_free_rate_prem = round(treasury_yield10.info['regularMarketPrice']/100,2)
risk_free_rate_prem

0.04

In [6]:
# assume 10 percent return on the return of market ( average return of the S&P 500)
sp500_teturn = 0.10

Calculate the portfolio expected return

In [7]:
    # Caclulate the portfolio beta
    portfolio_beta = round(sum(df["Beta"]* df["stock_weight"]/100),2)
    portfolio_beta

0.82

In [8]:
# Calculate the expected return of the portfolio
portfolio_exp_return = round(risk_free_rate_prem + portfolio_beta *(sp500_teturn - risk_free_rate_prem),2)
portfolio_exp_return

0.09

In [9]:
# calulate the expected return for each individual stock using CAPM forumla
df["exp_return"]= round(risk_free_rate_prem + df["Beta"]*(sp500_teturn - risk_free_rate_prem),2)
df

  Stock  Purchase_Cost  stock_weight  Beta  exp_return
0  AMZN           3000         19.61  1.33        0.12
1  MSFT           1000          6.54  0.94        0.10
2  Ford            300          1.96  0.81        0.09
3   LNG           4000         26.14  1.12        0.11
4  GOLD           2000         13.07  0.13        0.05
5   NYC           5000         32.68  0.52        0.07