In [1]:
import pandas as pd
import yfinance as yf

In [2]:
# get historical market data
stock = yf.Ticker("MSFT")
hist = stock.history(period="max")

In [3]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13,0.055949,0.064177,0.055949,0.061434,1031788800,0.0,0.0
1986-03-14,0.061434,0.064725,0.061434,0.063628,308160000,0.0,0.0
1986-03-17,0.063628,0.065274,0.063628,0.064725,133171200,0.0,0.0
1986-03-18,0.064725,0.065274,0.062531,0.063079,67766400,0.0,0.0
1986-03-19,0.063079,0.063628,0.061434,0.061982,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2022-03-14,280.339996,285.399994,275.820007,276.440002,30660700,0.0,0.0
2022-03-15,280.350006,287.820007,278.730011,287.149994,34245100,0.0,0.0
2022-03-16,289.109985,294.570007,283.200012,294.390015,37826300,0.0,0.0
2022-03-17,293.290009,295.609985,289.369995,295.220001,30816600,0.0,0.0
2022-03-18,295.369995,301.000000,292.730011,300.429993,43317000,0.0,0.0

In [5]:
# inv_amt = float(input("Please enter the amount you wish you invested: "))
inv_amt = 1000

In [9]:
# Please enter the date  usign this format 'yyyy-mm-dd'
inv_date = '2020-03-09'
exists = inv_date in hist.index
if exists == False:
    print("Please enter a date that is in the dataframe")

In [10]:
choosen_price = round(hist.loc[inv_date,:]["Close"],2)
choosen_price

147.9

In [12]:
num_stocks = round(float(inv_amt) / choosen_price,2)
num_stocks

6.76

In [13]:
curr_price = round(hist["Close"].iloc[-1],2)
curr_price

300.43

In [25]:
stock_valu = round(num_stocks * curr_price,2)
print('You would have:',stock_valu)

You would have: 2030.91

In [29]:
net  = round(x - inv_amt,2)
if x < float(inv_amt):
    print('You would have lost: ', net)
else:
   print('You would have gained: ', net)

You would have gained:  1030.91